<div class="nexmoe-post-meta">
    <div class="nexmoe-rainbow">
        <a class="nexmoefont icon-calendar-fill"><%- date(page.date, "YYYY-MM-DD") %></a>
        <% if (page.categories && page.categories.length){ %>
            <%
                const categories = page.categories.toArray ? page.categories.toArray() : page.categories;
                categories.forEach(function(category) {
            %>
                <a class="nexmoefont icon-appstore-fill" href="<%- url_for(category.path) %>"><%= category.name %></a>
            <% }) %>
        <% } %>
        <%- partial('_partial/_post/word-count', {post: page}) %>
    </div>

    <% if (page.wechat){ %>
        <a class="wechat" href="<%- page.wechat %>" target="_blank"><i class="nexmoefont icon-wechat-fill"></i></a>
    <% } %>
    <% if (page.zhihu){ %>
        <a class="zhihu" href="<%- page.zhihu %>" target="_blank"><i class="nexmoefont icon-zhihu"></i></a>
    <% } %>
    <% if (page.bilibili){ %>
        <a class="bilibili" href="<%- page.bilibili %>" target="_blank"><i class="nexmoefont icon-bilibili"></i></a>
    <% } %>
    <% if (page.sspai){ %>
        <a class="sspai" href="<%- page.sspai %>" target="_blank"><i class="nexmoefont">sspai</i></a>
    <% } %>
</div>
