<div class="nexmoe-widget-wrap">
  <h3 class="nexmoe-widget-title"><%= __('hitokoto') %></h3>
  <div class="nexmoe-widget">
    <ul class="hitokoto-box">
      <li id="hitokoto_text_parent" class="hitokoto-text" hitokotoCategory="<%= options.widgetHitokoto.category || '' %>">
        <a href="#" id="hitokoto_text"><%= options.widgetHitokoto.loading_placeholder || 'Loading quote...' %></a>
        <a href="#" id="hitokoto_error_text" style="display: none;"><%= options.widgetHitokoto.loading_error_placeholder || 'Quote service unavailable.' %></a>
      </li>
    </ul>
  </div>
</div>

<script>
  window.addEventListener('load', function () {
    const hitokotoText = document.getElementById('hitokoto_text');
    const hitokotoErrorText = document.getElementById('hitokoto_error_text');
    const hitokotoCategory = document.getElementById('hitokoto_text_parent').getAttribute('hitokotoCategory');
    const localQuote = '<%- options.widgetHitokoto.local || '' %>';

    if (localQuote) {
      hitokotoText.innerText = localQuote;
      return;
    }

    let url = 'https://v1.hitokoto.cn';
    if (hitokotoCategory) url += '?c=' + hitokotoCategory;

    fetch(url)
      .then(response => response.json())
      .then(data => {
        hitokotoText.innerText = '"' + data.hitokoto + '" from ' + data.from;
        hitokotoText.href = 'https://hitokoto.cn/?uuid=' + data.uuid;
      })
      .catch(reason => {
        console.error(reason);
        hitokotoText.style.display = 'none';
        hitokotoErrorText.style.display = 'block';
      });
  });
</script>
